extends layouts/main

block content
    .form-container
        form(action=`/${movie.id}`, method="post", enctype="multipart/form-data")
            input(type="text", placeholder="title", name="name", value=movie.title)
            input(type="number",name="year",placeholder="year", value=moviee.year)
            input(type="number",name="rating",placeholder="rating", value=movise.rating)
            textArea(type="text", name="synopsis", placeholder="Synopsis", value=movie.synopsis)
            input(type="text", name="genres", placeholder="Genres" , value=movie.genres)
            input(type="submit", value="edit")       
    a(href=`/$(:id)/delete`)
            button.delete Delete Video