extends layouts/main

block content
    .form-container
        form(action=`/${movie.id}/edit`, method="post", enctype="multipart/form-data")
            input(type="text", placeholder="title", name="name", value=movie.title)
            input(type="number",name="year",placeholder="year", value=movie.year)
            input(type="number",name="rating",placeholder="rating", value=movie.rating)
            input(type="text", name="synopsis", placeholder="Synopsis", value=movie.synopsis)
            textarea(type="text", name="genres", placeholder="Genres")=movie.genres
            input(type="submit", value="edit")       
    a(href=`/${movie.id}/delete`) Delete
    